<h1><%=@article.title%></h1>
<p><%=@article.body%></p>
<h3>Comentarios</h3>
<%= render :partial =>'comment', :collection => @article.comments %>
<%= form_for([@article,@article.comments.build]) do |form_comment|  %>
  <%= render "comments/form"%>

<% end%>
<%= link_to "<< Regresar a lista", articles_path%>
